/*************/
/*** FONTS ***/
/*************/

$bodyFont: 'Lato', 'Helvetica', sans-serif;
$headingFont: 'Lato', 'Helvetica', sans-serif;

$bodyWeight: 400;
$headingWeight: 900;

$bodySize: 18px;
$lineHeight: 1.6em;
$headingHeight: 1.2em;




/****************/
/**** COLORS ****/
/****************/

$lightGrey: #f6f6f6;
$backgroundGrey: #e6e6e6;
$bodyColor: #484848;
$headingColor: #484848;
$lightPurple: #4c177d;
$darkPurple: #220a37;
$lightGreen: #45afb6;
$darkGreen: #378b91;


