/*************/
/*** FONTS ***/
/*************/

$bodyFont: 'Lato', 'Helvetica', sans-serif;
$headingFont: 'Lato', 'Helvetica', sans-serif;

$bodyWeight: 400;
$headingWeight: 900;

$bodySize: 16px;
$lineHeight: 1.6em;
$headingHeight: 1.2em;




/****************/
/**** COLORS ****/
/****************/

$lightGrey: #f6f6f6;
$bodyColor: #484848;
$headingColor: #484848;

