header {
	background: linear-gradient(lighten($lightPurple, 5%), darken($darkPurple, 5%));
	height: 100vh;
	positon: relative;

	.banner-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		color: $lightGrey;
		text-align: center;
		z-index: 1;

		h1, h3 {
			color: $lightGrey;
			margin: 0;
		}

		h3 {
			opacity: 0.7;
		}

		img {
			border-radius: 50%;
			border: 10px solid white;

			&:hover {

			}
		}
	}
}

