<nav class="menu">
	<span><strong>{{#scroll-to href="#top"}}Meet Ryan!{{/scroll-to}}</strong></span>
	<span>{{#scroll-to href="#intro"}}Intro{{/scroll-to}}{{#scroll-to href="#projects"}}Projects{{/scroll-to}}{{#scroll-to href="#contact"}}Contact{{/scroll-to}}</span>
</nav>

<header id="top">
	<div class="banner-text">
		<img src="assets/images/ryan.jpg" alt="Junior Web Developer applicant" />
		<h1>Hi, I'm Ryan.</h1>
		<h3>It's lovely to meet you.</h3>
		{{#scroll-to href="#intro" class="btn"}}Find out more{{/scroll-to}}  or  <a href="https://github.com/RyanGee" class="btn">View my Github</a>
	</div>
</header>
{{outlet}}

<section id="intro">
	<div class="max-width">
		<div class="grid">
			<div class="grid__col--1-of-1">
				<h2>What am I looking for?</h2>
				<p>I currently work as a Web Developer for an <a href="www.fluidstudiosltd.com">award-winning website design agency</a>, but I'd like to move away from quick-turnaround websites and instead focus on long-term product development. I love my current role and it has exposed me to a hure range of technology in a fairly short space of time, but I feel I would be more passionate and personally invested working on a product that I could call my own.</p>
				<p>Though my current role focuses mostly on PHP development, I love working with JavaScript frameworks and have previous experience with React and Vue. I wanted to try Ember, so I threw together this CV mini site to give it ago.</p>
				<p>I'm looking for the opportunity to work in an environment that gives me the scope to develop my existing skills and learn new development techniques, as well as the time to continuously try to improve what I've already built. I hope to find a position where iterative development, continuous refinements, best practice and uptake of new technologies are high on the agenda.</p>
				<p>You can {{#scroll-to href="#projects"}}view some of my work{{/scroll-to}}, <a href="assets/documents/CV_Ryan_Gee.pdf" target="_blank">grab my CV</a>, or <a href="https://github.com/RyanGee">view my github repo</a>.</p>
				{{#scroll-to href="#contact" class="btn"}}Let's talk!{{/scroll-to}}
			</div>
		</div>
	</div>
</section>
<section id="projects">
	<div class="max-width">
		<h2>View my Projects</h2>
		{{#project-filter
		   filter=(action 'filterBySkills')
		   as |filteredResults|}}
	   		<div class="max-width">
			    {{#each filteredResults as |project|}}
					{{project-listing project=project}}
			    {{/each}}
		    </div>
		{{/project-filter}}
		
	</div>
</section>
<section id="contact">
	<div class="max-width">
		<div class="grid">
			<div class="grid__col--1-of-1">
				<h2>Get in Touch</h2>
				<div class="contact-wrap">
					<span class="contact">Email: <a href="mailto:ryan.gee@btinternet.com">ryan.gee@btinternet.com</a></span>
					<span class="contact">Tel: <a href="tel:+447916701780">+44 (0) 7916 701 780</a></span>
				</div>
			</div>
		</div>
	</div>
</section>

<footer>
	<span>A single page portfolio app to learn Ember.js</span>
	{{#scroll-to href="#top"}}Back to Top{{/scroll-to}}
</footer>
